{% extends "layout.html" %}
{% block js_include %}
<script src="{{ url_for('static', filename='js/edit_plant.js') }}"></script>
{% endblock %}
{% block header %}
<title>Settings For {{ plant.name }}</title>
{% endblock %}
{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="pull-left">
        <a class="navbar-brand" href="/plants/{{plant.id}}">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="pull-right">
        <a class="navbar-brand" href="/plants/{{plant.id}}/settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <div class="row">
      <h1>Settings For {{ plant.name }}</h1>
      <img src="{{ plant.photo_url }}">
    </div>
    <div class="row">
      <button id="deletePlant" class="btn btn-danger btn-block"
              data-link="{{ url_for('delete_plant', id=plant.id) }}">
          Delete
      </button>
    </div>
  </div>
</div>
{% endblock %}