{% extends "layout.html" %}
{% block header %}
<title>Select Plant</title>
{% endblock %}
{% block body %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-left">
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      {% for plant in plants %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="thumbnail">
              <img src="{{ plant.photo_url }}" width="100%">
              <div class="caption">
                <h4>{{ plant.name }}</h4>
                <form action="{{ url_for('create_plant') }}" method="post">
                  <input type="hidden" name="slot_id" value="{{ slot_id }}">
                  <input type="hidden" name="plant_database_id" value="{{ plant.plant_database_id }}">
                  <input type="submit" value="Select" class="btn btn-primary btn-block">
                </form>
              </div>
            </div>
          </div>
        </div>  
      {% endfor %}
    </div>
  </div>
{% endblock %}
