{% macro vitalbar(bar) %}
<div class="media">
  <div class="media-left media-top">
    <i class="{{ bar.icon }}" style="width:15px"></i>
  </div>
  <div class="media-body">
    <div class="progress">
      {% if bar.over_ideal %}
        <div class="progress-bar {{ bar.bar_class }}" style="width: {{ bar.bar_width }}%">
        </div>
        <div class="progress-bar progress-bar-danger" style="width: {{ bar.error_width }}%">
        </div>
      {% else %}
        <div class="progress-bar {{ bar.bar_class }}" style="width: {{ bar.bar_width }}%">
        </div>
        <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: {{ bar.error_width }}%">
        </div>
      {% endif %}
    </div>
  </div>
  <div class="media-right media-top">
    {% if bar.within_tolerance %}
      <i class="fa fa-check" style="color:#66CC66; width:15px;"></i>
    {% else %}
      <i class="fa fa-times" style="color:#FF0000; width:15px;"></i>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro vitalinfo(vital) %}
<div class="media">
  <div class="media-left">
    <strong>{{ vital.name }}</strong>
  </div>
  <div class="media-body">
  </div>
  <div class="media-right">
    <div class="vital-right">
      {% if vital.within_tolerance %}
        <span style="color:#66CC66">{{ vital.formatted_value }}</span>
      {% else %}
        <span style="color:#FF0000">{{ vital.formatted_value }}</span>
        {# <button type="button" class="btn btn-link btn-infopop" id="{{ vital.name }}" data-placement="left" data-toggle="popover" title="Current {{ vital.name }} is {{ vital.formatted_value }}!" data-content="Ideally, it would be about {{ vital.formatted_ideal_value }} (&#177; {{ vital.formatted_tolerance }}). {{ vital.corrective_action }}"> #}
        {#   <i class="fa fa-info-circle"></i> #}
        {# </button> #}
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}
